## 1. 특징

+ 묶음 (코드 블럭) 즉, 지금까지 묶었던걸 더 크게 묶는다.
    - 변수(멤버 변수,속성,필드) ,함수(멤버 함수, 메서드)
    - 여러 개의 함수를 묶어서 좀 더 큰 단위의 모듈로 관리
    - 

: 콜론으로 코드를 묶어준다.

+ 설계도(추상적)
    - 인스턴스(instance), 객체(object)
    
+ 사용자 정의 자료형 8가지 (list dict tuple set)...

+ 객체의 조건
    - 상속성(Inheritance)
    - 다형성(Polymorphism)
    - 캡슐화(Encapsulation)


## 2. 작성방법

    class 이름 : 
        변수 :
        함수 : 
        
        
        또는
        
        class 이름(...):
            변수
            함수 
            
            
            클래스는 반드시 객체를 설계해야함.

In [3]:
##### 인스턴스(객체)의 생성방법

class Test:
    a= 10
    
    def show(self):
        return ("Test 클래스")
        
###################################################

#print(Test().a)
#print(Test().show())

ob = Test()
print(ob.a)
print(ob.show())

a= 10
print(type(a))

10
Test 클래스
<class 'int'>

In [173]:
##### 사용자 정의 자료형
# 국적, 이름, 나이,신장, 취미

class Person : 
    nation = "한국"
    name = str()
    age = int()
    height = float()
    hobbies = []
    
    def show(self):
        print("국적:",self.nation)
        print("이름:",self.name)
        print("나이:",self.age)
        print("신장:",self.height)
        print("취미:",self.hobbies)
        print("\n-----------절취선------------")
        
#######################################################

p1 = Person() #1000번지
p2 = Person() #2000번지
p3 = Person() #3000번지


p1.name ="김정호" # .이있으면 객체를 보여주는것이다.
p1.age = 28
p1.height = 173
p1.hobbies = ["독서","여행"]

p2.nation = "안산"
p2.name ="권유정" # .이있으면 객체를 보여주는것이다.
p2.age = 21
p2.height = 155
p2.hobbies = ["독서","여행"]

p3.nation = "유정이집"
p3.name ="나비" # .이있으면 객체를 보여주는것이다.
p3.age = 6
p3.height = 70
p3.hobbies = ["밥먹기","잠자기"]

데이터 = [p1,p2,p3]

for i in range(len(데이터)):
    데이터[i].show()

국적: 한국
이름: 김정호
나이: 28
신장: 173
취미: ['독서', '여행']

-----------절취선------------
국적: 안산
이름: 권유정
나이: 21
신장: 155
취미: ['독서', '여행']

-----------절취선------------
국적: 유정이집
이름: 나비
나이: 6
신장: 70
취미: ['밥먹기', '잠자기']

-----------절취선------------


### . (1) 작성방법

+ 현재 사용중인 객체의 주소를 저장하고 있는 참조 변수
+ read only

In [46]:
class Test:
    a = int()
    b = float()
    c = str()
    
    def show(self):
        print(self.a, self.b, self.c)
        print("현재 주소:" , id(self))
        
    def setValue(self, a, b, c): 
        self.a = a
        self.b = b
        self.c = c
        
          #검증 또는 방어코드

In [49]:
t1 = Test()
t2 = Test()
t3 = Test()


t1.a =10
t1.b = 3.14
t1.c = "홍길동"

t1.show()

print("------------------------")

t2.a = 100
t2.b = 4.5
t2.c = "임꺽정"

t2.show()

print("------------------------")

t3.setValue(173, 13.5, "김정호")
t3.show()

10 3.14 홍길동
현재 주소: 2258033542720
------------------------
100 4.5 임꺽정
현재 주소: 2258033542576
------------------------
173 13.5 김정호
현재 주소: 2258033541760


### (2) 생성자와(Constructor)와 소멸자(Deconstrucor)


+ 메서드
+ 객체(인스턴스)를 생성하는 용도
+ 생성자의 경우 객체를 처음 만들때 호출된다.(단 한번만 호출)

In [75]:
class Test:
    a = int()
    b = str()
    
 #   def __init__(self):
 #       print("생성자 호출됨") #내부적으로 처리됨, 누가 이름을 불려줌
  #      self.a = 5
   #     self.b= "무명씨"
        
    def __init__(self,a=30,b="나비코코"):
        self.a = a
        self.b = b
        
    def __del__(self):
        print("소멸자 호출")
        
    def setVal(self, a, b):
        self.a = a
        self.b = b

In [76]:
t1 = Test()
t1.setVal(10,"김정호")
print(t1.a,t1.b)

print("-----------------------------")


t2 = Test()
t2.setVal(20,"권유정")
print(t2.a,t2.b)

print("-----------------------------")

t3 = Test()
print(t3.a,t3.b) # 기본값으로 호출됨. 디폴트

print("-----------------------------")

t4 = Test(40,"권유정")
print(t4.a,t4.b)

소멸자 호출
10 김정호
-----------------------------
소멸자 호출
20 권유정
-----------------------------
소멸자 호출
30 나비코코
-----------------------------
소멸자 호출
40 권유정

In [77]:
del t4

소멸자 호출

### (3) static

+ 인스턴스와 구별
+ 동일한 공간을 모든 객체들이 공동으로 사용
+ 정적(클래스)변수, 정적(클래스)메서드

In [146]:
class Person : 
    nation = "한국"
    name = str()
    age = int()
    height = float()
    hobbies = []
    company = str()
    
    def show(self):
        print("국적:",self.nation)
        print("이름:",self.name)  #인스턴스이다. 끝에 name같은거
        print("나이:",self.age)
        print("신장:",self.height)
        print("취미:",self.hobbies)
        #print(self.company)
        print("회사명:", Person.company)
        print("\n-----------절취선------------")
        
        #스테틱인지 인스턴스인지는 주소를봐야지 구분가능?..무슨말
        
    @staticmethod
    def funcCompany():
        Person.company = "파이썬 주식회사"
        return "회사명: " + Person.company

In [147]:
print(Person.nation)

한국

In [148]:
p1 = Person()
p2 = Person()

print(p1.nation,p2.nation)

p1.nation = "독일"
p2.nation = "프랑스"
print(p1.nation,p2.nation)

print(Person.nation)

한국 한국
독일 프랑스
한국

In [149]:
Person.company = "파이썬 주식회사"

print(p1.company, p2.company)
p1.show()

파이썬 주식회사 파이썬 주식회사
국적: 독일
이름:
나이: 0
신장: 0.0
취미: []
회사명: 파이썬 주식회사

-----------절취선------------

In [150]:
Person.funcCompany()

'회사명: 파이썬 주식회사'

In [168]:
#### 객체의 수를 카운팅

class Counter:
    m_cnt = 0
    
    def __init__(self):
        Counter.m_cnt += 1
    @staticmethod
    def printCount():
        print("총 객체의 수: ", Counter.m_cnt)

In [169]:
a, b, c = Counter(), Counter(), Counter()
a.printCount()
b.printCount()
c.printCount()

Counter.printCount()

총 객체의 수:  3
총 객체의 수:  3
총 객체의 수:  3
총 객체의 수:  3

"""
e1 = Employee(1111, "홍길동", 1000000, ["여행", "낚시", "운동"])
e1.display()

결과 :
    사번 : 1111
    이름 : 홍길동
    급여 : 1000000
    취미 : 여행, 낚시, 운동
    
e2 = Employee(1112, "임꺽정", 1200000, ["자전거", "볼링"])
e3 = Employee(1113, "신돌석", 1400000, ["독서"])

total = Employee.getCount()
print("인원수 : ", total)

# 데이터 수정
e3.setSalary(2000000)
e3.appendHobby("피아노", "드론")
e3.display()

결과 :
    사번 : 1113
    이름 : 신돌석
    급여 : 2000000
    취미 : 독서, 피아노, 드론
"""

In [189]:
##### 사용자 정의 자료형
# 국적, 이름, 나이,신장, 취미

class Person : 
    이름 = str()
    사번 = int()
    급여 = float()
    hobbies = []
    
    def show(self):
        print("이름:",self.이름)
        print("사번:",self.사번)
        print("급여:",self.급여)
        print("취미:",self.hobbies)
        print("\n-----------절취선------------")
        
#######################################################

e1 = Person() 
e2 = Person() 
e3 = Person() 

e1.이름 ="홍길동" 
e1.사번 = 1111
e1.급여 = 1000000
e1.hobbies = ["독서","여행","운동"]

e2.이름 ="임꺽정" 
e2.사번 = 1112
e2.급여 = 1200000
e2.hobbies = ["자전거","볼링"]

e3.이름 ="신돌석" 
e3.사번 = 1113
e3.급여 = 2000000
e3.hobbies = ["독서","피아노","드론"]

데이터 = [e1,e2,e3]



for i in range(len(데이터)):
    데이터[i].show()

이름: 홍길동
사번: 1111
급여: 1000000
취미: ['독서', '여행', '운동']

-----------절취선------------
이름: 임꺽정
사번: 1112
급여: 1200000
취미: ['자전거', '볼링']

-----------절취선------------
이름: 신돌석
사번: 1113
급여: 2000000
취미: ['독서', '피아노', '드론']

-----------절취선------------

In [222]:
class Employee():
    사번 = int()
    이름 = str()
    급여 = int()
    취미 = list()
    사원수 = 0
    
    def __init__(self, 사번, 이름, 급여, 취미):
        self.사번 = 사번
        self.이름 = 이름
        self.급여 = 급여
        self.취미 = 취미
        Employee.사원수 += 1
    
    def display(self):
        print(f"""결과 : 
    사번 : {self.사번}
    이름 : {self.이름}
    급여 : {self.급여}
    취미 :""", *self.취미)
    
    @staticmethod   #클래스의 인스턴스 없이 호출이 가능하며, 인스턴스에서는 호출 할 수 없다. 


    def getCount():
        return Employee.사원수
    
    def setSalary(self, 급여):
        self.급여 = 급여
    
    def appendHobby(self, *취미):
        self.취미.extend(취미)

e1 = Employee(1111, "홍길동", 1000000, ["여행", "낚시", "운동"])
e1.display()

print("-----------------------\n")

e2 = Employee(1112, "임꺽정", 1200000, ["자전거", "볼링"])
e3 = Employee(1113, "신돌석", 1400000, ["독서"])

total = Employee.getCount()
print("인원수 : ", total)

print("-----------------------\n")

# 데이터 수정
e3.setSalary(2000000)
e3.appendHobby("피아노", "드론")
e3.display()

결과 :
    사번 : 1111
    이름 : 홍길동
    급여 : 1000000
    취미 : 여행 낚시 운동
-----------------------

인원수 :  3
-----------------------

결과 :
    사번 : 1113
    이름 : 신돌석
    급여 : 2000000
    취미 : 독서 피아노 드론

----

 ### (4) 원래 설계된 멤버변수외에 객체별로 멤버변수를 추가할 수있다.
 
 ###### 클래스는 반드시 객체를 생성에서 사용해야한다.
 ###### 임시로 사용하는것.

In [328]:
class Test:
    a = 0
    
    def display(self):
        print(self.a)

In [331]:

#객체 생성
ob1 = Test() 
ob1.display()
#객체 생성
ob2 = Test()
ob2.display()


ob2.a = 10
ob2.b = 100
print(ob2.a,ob2.b)

#ob1 에는 없다.

0
0
10 100

### (5) _ 와  __ 

+ 기본 인터프리터에서 사용(마지막으로 실행된 값을 불러오기)
+ 값을 무시
+ 접근 권한

In [30]:
_,b,c = (10,20,30)
a ,_, c= (10,20,30)


print(a,c)

10 30

In [333]:
a, _,_,_,_, b = (10, 20, 30, 40, 50, 60)
#a,*_, b = (10, 20, 30, 40, 50, 60)

print(a,b)

10 60

In [341]:

        
class Test:
    str1 = "안녕하세요!!"
    _str2 = "홍길동입니다."
    __str3 = "이것은 건드리지 마세요"
    
    def __funcTest(self):
        print("funcTest 입니다.", self.str1)
        
    def setStr3(self, a):
        self.__str3 = a
        
    def getStr3(self):
        return self.__str3

In [342]:
ob1 = Test()
print(ob1.str1)

print(ob1._str2)
ob1._str2 = "임꺽정입니다."
print(ob1._str2)

# print(ob1.__str3)
print(dir(ob1))
print(ob1._Test__str3)

ob1._Test__funcTest()

ob1.setStr3("수정하였음...")
print(ob1.getStr3())

안녕하세요!!
홍길동입니다.
임꺽정입니다.
['_Test__funcTest', '_Test__str3', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_str2', 'getStr3', 'setStr3', 'str1']
이것은 건드리지 마세요
funcTest 입니다. 안녕하세요!!
수정하였음...

## 3. 상속(Inheritance) 
## 자식 클래스를 쓰는게 나음.

    - abc
abc - ab
    - ab
    - ab
    - abc
    
    최소한의 기능을 만들어야한다.
    abc x
    ab o
    
+ 상속 설계시 고려할 점
    - 부모 클래스는 최소한의 코드로 작성(모든 자식들이 공통적으로 필요로 하는것들로 구성)
    - 상속받는 자식 클래스는 반드시 기능을 추가 (확장) 시켜야한다.
    
    +Override(재정의), Overload(중복정의)
    
    둘다 다형성을 지닌다.
    
    재정의는 상속에서만 쓴다 중복정의는 상관없다.
    
    a
    1.a
    2.a
    3.a 
    같은 이름으로 함수를 여러개 만든다 중복정의!

In [375]:
class Human:
    def move(self):
        print("섹스한다.")
               
class yujeong(Human) :
    def bark(self):
        print("앙앙")
    
class jeongho(Human):
    def speed(self,s):
        print("거칠게",s)

In [376]:
d1 = yujeong()
d1.bark()
d1.move()

d2 = jeongho()
d2.speed(3)
d2.move()

앙앙
섹스한다.
거칠게 3
섹스한다.

In [382]:
class Calculator:
    first = 0
    second = 0
    
    def __init__(self, first=None, second=None):
        self.first = first
        self.second = second
        
    def setData(self, first=None, second=None):
        self.first = first
        self.second = second
        
    def sum(self):
        return self.first + self.second
    def div(self):
        return self.first / self.second
    def mul(self):
        return self.first * self.second
    def sub(self):
        return self.first - self.second
    

class Calculator2(Calculator):   #상속받은거
    def pow(self):
        return self.first ** self.second


    
    #init 은 초기설정 해주는것.
    #setData 매개변수

In [383]:
cal1 = Calculator()
cal1.setData(10,20)
print(cal1.sum())

cal2 = Calculator(20,30)
print(cal2.mul())

cal3 = Calculator2(50,2)
print(cal3.pow())
print(cal3.sum())
print(cal3.mul())
print(cal3.div())
print(cal3.sub())

30
600
2500
52
100
25.0
48

In [385]:
#### super()

class Person:                           #부모
    say = "난 사람이다."
    age = 20
    
    def info(self):
        print("나이:{},하고 싶은말 :{}".format(self.age,self.say))
        
    def __init__(self):
        print("Person 클래스")
        
        
class Employee(Person):                #자식
    def __init__(self):
        print("Employee 클래스")
        
        say= "난 회사원이다"
        
        def info(self):
            print(self.say)
            print(self.age)
            print(super().say)
            super().info()

In [386]:
e2 = Employee()
e2.info()

Employee 클래스
나이:20,하고 싶은말 :난 사람이다.

# 4.다중 상속

In [390]:
class Phone:
    def call(self):
        print("전화걸기")
        
class Camera:
    def picture(self):
        print("사진 찍기")
        
class Game:
    def rendering(self):
        print("화면 그리기")
        
class reservation:
    def 여기어때(self):
        print("예약완료")
        

        
class SmartPhone(Phone,Camera,Game,reservation):
    pass

In [392]:
sp = SmartPhone()
sp.call()
sp.picture()
sp.rendering()
sp.여기어때()

전화걸기
사진 찍기
화면 그리기
예약완료

# 5.object
 + 파이썬

In [216]:
print(dir(object))

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [218]:
class Test:
    a= 10

In [219]:
print(dir(Test))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'a']

# 6.고급함수

#### (1) 변수의 생존 범위 : global,nonlocal

In [228]:
player = "전국대표" #(전역함수)

def funcSoccer():#(지역변수)
    global player # global 을 붙여주면 바뀜.
    
    name = "홍길동"
    player = "지역 대표"
    
    
###########################################

print(player)
funcSoccer()
print(player)

전국대표
지역 대표

In [395]:
a = 100

def kbs1():
    a=1
    
    def kbs2():
        global a
        #nonlocal a
        a = 2
        print("kbs2 함수 내부:",a)  #kbs2 안에서만쓸수잇는변수 
    kbs2()
    print("kbs1 함수 내부:",a)
####################################

print(a)
kbs1()
print(a)

100
kbs2 함수 내부: 2
kbs1 함수 내부: 1
2

#### (2) 클로저(Closer)
+ 함수 밖에서 임의의 함수 안에 선언된 지역변수를 계속 참조할 수 있게하는 방법

In [8]:
count = 0 


def out():
    count = 0
    
    
    def inn():
        global count
        #nonlocal count
        
        
        count += 1
        print(count)
        
    inn()
    
 ##########################

out()
out()
out()

1
2
3

In [10]:
def out():
    count = 0
    
    
    def inn():
        #global count
        nonlocal count
        
        
        count += 1
        print(count)
        
    return inn
    
 ##########################

a = out()
a()
a()
a()

b= out()
b()
b()
b()

1
2
3
1
2
3

In [7]:
def outer(tax):
    def inner(su, dan):
        amount = su * dan * tax
        return amount
    
    return inner

####################################


tax_rate = outer(0.1)
mouse = tax_rate(5, 5000)
print(mouse)

usb = tax_rate(3, 12000)
print(usb)

tax_rate2 = outer(0.05)
mouse = tax_rate2(5, 5000)
print(mouse)

2500.0
3600.0
1250.0

https://www.mysql.com/

MySQL Community Server

go to 다운로더 페이지

450mb 짜리 다운받기

#### (3) 람다 함수(무명 함수,익명 함수)

In [83]:
def hap(x, y):
    return x * y

result = hap(10, 20)
print(result)

200

In [85]:
#불필요한걸 줄여준다.
(lambda x,y : x*y )(10,20)

200

In [97]:
add = (lambda x=10,y=11 : x*y )

print(add(20,30))

#만약 y에 디폴트값 10을 주면

print(add())

#add로 주소를 저장시켜놨기 때문에 계속 add 위에 함수를 사용가능하다.

600
110

In [21]:
add(30,40) #이런식으로 얼마나 간단한가?

70

In [111]:
def func_test(a,*b,**c):
    print(a,b,c)
    
    #별 한개는 튜플 , 별두개는 딕션
    
###########################


func_test(1, 2, 3, 4, x=5, m=6, n=7, o=8)


(lambda a,*b,**c: print(a,b,c))(1, 2, 3, 4, x=5, m=6, n=7, o=8)

1 (2, 3, 4) {'x': 5, 'm': 6, 'n': 7, 'o': 8}
1 (2, 3, 4) {'x': 5, 'm': 6, 'n': 7, 'o': 8}

In [114]:
ex = [1,2,3,4,5]

def fun_test(x):
    if x % 2!=0:
         return x **2
    else :
        return x
    
############################### for in 리스트반복 ex의 결과를 append 시킨다 


result =[]
for i in ex:
    result.append(fun_test(i))
    
print(result)

#################################

map(fun_test,ex)
print(list(map(fun_test,ex)))

#################################

print(list(map((lambda x: x**2 if x%2!= 0 else x),ex)))

[1, 4, 3, 16, 5]

TypeError: 'list' object is not callable

#### (4)함수 장식자(decorator)

+ 일종의 함수 감싸기(wrapping)를 해주는 디자인 패턴
+ 메타 프로그래밍 기법
+ @staticmethod, @classmethod ,@abstract, ....

In [1]:

def make2(fn):
    return lambda : "안녕" + fn()



def make1(fn):
    return lambda : "권유정" + fn()
    
    

def hello():
    return "python"


#################################

#make1(hello)()
#m1()

make2(make1(hello))()
print(make2(make1(hello))())

안녕권유정python

In [54]:
def make2(fn):
    return lambda : "안녕" + fn()



def make1(fn):
    return lambda : "반가워" + fn()
    
    

def hello():
    return "홍길동"


#################################

#make1(hello)()
#m1()

make2(make1(hello))()

'안녕반가워홍길동'

In [123]:
def make2(fn):
    return lambda : "안녕" + fn()



def make1(fn):
    return lambda : "반가워" + fn()
    

    #선언해주는 기능 데코레이트
@make2
@make1
def hello():
    return "홍길동"


#################################

#make1(hello)()
#m1()

print(hello())

안녕반가워홍길동

In [128]:
def outer(fn):
    def inner(n1, n2):
        print("결과는 {} 이다.".format(fn(n1, n2)))
        
    return inner

@outer
def func(n1, n2):
    return n1 + n2
#####################################################

# result = outer(func)
# result(10, 20)

func(10, 20)

결과는 30 이다.