## 1.파이썬과 MySQL 활용

+ 파이썬과 MySql을 연결해주는 모듈 : mysqlclient, PymySQL
        - pip install mysqlclient
        - pip install PyMySQL

In [101]:
##### mysqlclient 모듈을 이용한 연결 테스트 

import MySQLdb

conn = MySQLdb.connect(host="127.0.0.1", user="root", passwd="1111", database="testdb")
#conn = MySQLdb.connect(host="netsong7.synology.me", user="user2", 
#                       password="Mysqldb12345!", database="user2db", port=3307)
print(conn)
conn.close()

<_mysql.connection open to '127.0.0.1' at 000002B7D6F15BF0>

In [102]:
##### PyMySQL 모듈을 이용한 연결 테스트 

import pymysql

conn = pymysql.connect(host="127.0.0.1", user="root", passwd="1111", database="testdb")
print(conn)
conn.close()

<pymysql.connections.Connection object at 0x000002B7D8CAEE20>

In [103]:
# 바꿀일 있으면 여기서 바꾸면 된다.
config = {"host":"127.0.0.1", "user":"root", "passwd":"1111", "database":"testdb"}

In [104]:
conn = pymysql.connect(**config)
print(conn)
conn.close()

<pymysql.connections.Connection object at 0x000002B7D8C102E0>

# (1) select

In [107]:
conn= MySQLdb.connect(**config)

sql = "select* from emp limit 5"

cur = conn.cursor()
cur.execute(sql)

#print(cur)
#for data in cur:
#    print(data)

for a,b,c,d,e,f,g,h in cur:
    print(a,b,c,d,e,f,g,h)
    
conn.close()


#result = []
#for data in cur:
 #   result.append(data)
    
#conn.close()

print(result)

7369 SMITH CLERK 7902 1980-12-17 00:00:00 800.0 None 20
7499 ALLEN SALESMAN 7698 1981-02-20 00:00:00 1600.0 300.0 30
7521 WARD SALESMAN 7698 1981-02-22 00:00:00 1250.0 500.0 30
7566 JONES MANAGER 7839 1981-04-02 00:00:00 2975.0 None 20
7654 MARTIN SALESMAN 7698 1981-09-28 00:00:00 1250.0 1400.0 30
[(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30), (7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)]

# (2)INSERT

In [120]:
# 에러 안나는 이유 if not exists

sql = """create table if not exists tbltest(
    empno    int,
    ename    varchar(10),
    sal      int,
    job      varchar(10)
)"""


print("------------------------------------------")

conn = MySQLdb.connect(**config)

cur = conn.cursor()
cur.execute(sql)

sql = "insert into tbltest(empno, ename, sal) values(1, 'scott', 5000)"


cur.execute(sql)
conn.commit()

conn.close()


#select * from suppliers;
#select * from tbltest;

------------------------------------------

In [116]:


conn = MySQLdb.connect(**config)
cur = conn.cursor()

sql = "insert into tbltest(empno, ename, sal) values(" \
    + str(empno) + ", '" + ename + "', " + str(sal)+ ")"
    
empno = 2
ename = "miller"
sal = 1400


    
#print(sql)
cur.execute(sql)
conn.commit()

conn.close()

In [117]:


conn = MySQLdb.connect(**config)
cur = conn.cursor()

sql = "insert into tbltest(empno, ename, sal) values(%s, %s, %s)"
sql_data = (str(empno), ename, str(sal))


empno = 3
ename = "tom"
sal = 2000


cur.execute(sql, sql_data)
conn.commit()

conn.close()

In [127]:


try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    sql = "insert into tbltest(empno, ename, sal) values(%s, %s, %s)"
    sql_data = (str(empno), ename, str(sal))

    
    empno = 4
    ename = "jerry"
    sal = 2000
    
    
    cur.execute(sql, sql_data)
    conn.commit()
except Exception as e:
    print("error : ", e)
finally:
    conn.close()

In [122]:
##### 데이터 여러 개 입력하기

conn = MySQLdb.connect(**config)
cur = conn.cursor()

for i in range(10):
    sql = "insert into tbltest(empno, ename, sal) values(5, 'jane', 10000)"
    cur.execute(sql)
    conn.commit()
    
conn.close()

# (3) cursor

1) fetchall(),fetchmany(),fetchon()

+ default는 fetchall

In [123]:

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("select * from tbltest")
    
    #for i in cur.fetchall():
    #    print(i)
    
    #for i in cur.fetchmany(5):
    #    print(i)
    
    print(cur.fetchone())
        
finally:
    conn.close()

(1, 'scott', 5000, None)

### 2) Dictcursor
    +필드명을 인덱스 대신 키로 사용

In [124]:

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor(MySQLdb.cursors.DictCursor)
    
    cur.execute("select * from tbltest")
    
    for i in cur.fetchall():
        # print(i[0], i[1], i[2])
        print(i["empno"], i["ename"], i["sal"])
    
finally:
    conn.close()

1 scott 5000
3 tom 2000
4 jerry 2000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
3 tom 2000
4 jerry 2000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
3 tom 2000
4 jerry 2000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
1 scott 5000
3 tom 2000
4 jerry 2000
2 miller 1300
2 miller 1300
2 miller 1300
3 tom 2000
3 tom 2000
1 scott 5000
2 miller 1400
2 miller 1400
1 scott 5000
2 miller 1400
2 miller 1400
4 jerry 2000
1 scott 5000
4 jerry 2000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000

# 2. 응용 예제

### (1) CSV파일을 DB에 저장

In [82]:
"""
CREATE TABLE IF NOT EXISTS suppliers(
    Supplier_Name    varchar(20),
    Invoice_Number   varchar(20),
    Part_Number      varchar(20),
    Cost             float,
    Purchase_Date    date
);

"""

'\nCREATE TABLE IF NOT EXISTS suppliers(\n    Supplier_Name    varchar(20),\n    Invoice_Number   varchar(20),\n    Part_Number      varchar(20),\n    Cost             float,\n    Purchase_Date    date\n);\n\n'

In [84]:
import csv

file= csv.reader (open("data/input.csv"))
#print(file)

#print(next(file))
#print(next(file))
#print(next(file))
#print(next(file))
#print(next(file))

next(file)

try : 
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
 
    cur.execute("delete from suppliers")
    conn.commit()


    for row in file:
        #print(row)
        cur.execute("insert into suppliers values(%s, %s, %s, %s, %s)",row)
        
    conn.commit()

finally:
    conn.close()
    
    
    
    
#select * from suppliers;

## (2) DB에서 가져온 데이터를 파일로 저장

In [92]:
try : 
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("select * from suppliers where cost > 500000")

    #for i in cur:
    #    print(i)
    
    file = csv.writer(open("data/output.csv","w"), delimiter=",")
    #구분해서 저장하겠다.
    
    header = ["Supplier name","Invoice number","part number","cost","purchase date"]
    file.writerow(header)
    
    for row in cur:
        file.writerow(row)
    
finally:
    conn.close()

# 2. 파이썬과 SQLite


#### (1) 로컬로 사용할 수 있는 DBMS

+ Access
+ SQLite
+ Microsoft SQL Server Compact Edition
+ H2
+ HSQL
+ Apache Derby

##### (2) 특징

+ 파일기반의 DBMS, 저메모리, 빠른 처리 속도
+ 오픈소스
+ 별도의 DB서버없이 쉽고 편리하게 사용할 수 있는 Embeded SQL DB엔진

+ 안드로이드, 아이폰 등의 스마트폰에 기본 내장된 DB

+ 표준 SQL 지원
+ Left Outer Join만지원
+ 읽기 전용 뷰만 제공

#### (3) 공식 사이트

+ http://sqlite.org

In [1]:
import sqlite3

In [3]:
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.35.4

In [4]:
sqlite3.connect("data/sqlitetest.db")

print(conn)
conn.close()

In [5]:
#### Select

conn = sqlite3.connect("data/sqlitetest.db")
cur = conn.cursor()
cur.execute("select * from tblbook")
for row in cur:
    print(row)
    
conn.close()

('최주현', '하늘과 땅')
('최주현', '바다')
('유은정', '바다')
('박성우', '문')
('최주현', '문')
('박성우', '천국')
('최지은', '천국')
('최주현', '천국')
('박성우', '고슴도치')
('서금동', '나')

In [6]:
#### Select

conn = sqlite3.connect("data/sqlitetest.db")
cur = conn.cursor()
cur.execute("select * from tblMember")
for row in cur:
    print(row)
    
conn.close()

(1, '홍길동', '2020-12-25')
(2, '임꺽정', '2022-01-05')

In [7]:
##### 자동으로 DB생성하고 테이블 생성

conn = sqlite3.connect("data/auto.db")
cur = conn.cursor()

sql = """
    create table if not exists tblmember(
        id    int,
        name    varchar(10)  
    )
"""

cur.execute(sql)
conn.commit()

cur.execute("insert into tblmember values(1,'홍길동')")
conn.commit()

cur.execute("select * from tblmember")
for row in cur:
    print(row)
    
conn.close()

(1, '홍길동')

In [18]:
#### csv파일을 읽어들여서 db에 저장

import csv

conn = sqlite3.connect("data/auto.db")
cur = conn.cursor()

# 테이블 조회
tables = cur.execute("select * from sqlite_master where type='table'")
for i in tables:
    print(i)
    

file = csv.reader(open("data/input.csv","r"), delimiter=",")
#for i in file:
#    print(i)
    
next(file)

for row in file:
    cur.execute("insert into tbllnput values(?,?,?,?,?)",row)
    
conn.commit()
conn.close()

('table', 'tblmember', 'tblmember', 2, 'CREATE TABLE tblmember(\n        id    int,\n        name    varchar(10)  \n    )')

OperationalError: no such table: tbllnput

In [3]:
conn = sqlite3.connect("data/auto.db")
cur = conn.cursor()


cur.execute("select * from tbllnput")
for i in cur:
    print(i)
    
conn.close()

OperationalError: no such table: tbllnput

# 3. 파이썬과 MongoDB연동

+ pip install pymongo

In [12]:
# import pymongo
from pymongo import MongoClient

In [13]:
##### 서버연걸

conn = MongoClient("127.0.0.1",27017)
print(conn)
conn.close()

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

In [14]:
### DB연결

conn = MongoClient("127.0.0.1",27017)

dbname = conn.test2

print(dbname)
conn.close()

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test2')

In [15]:
### collection 연결

conn = MongoClient("127.0.0.1",27017)
dbname = conn.test

# collect = dbname.articles
collect = dbname["articles"]

print(collect)
conn.close()

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'articles')

# 1) 데이터 입력(1개)

In [16]:
conn = MongoClient("127.0.0.1",27017)
dbname = conn.test
collect = dbname.people

In [17]:
print(collect.count_documents({}))

for i in collect.find():
    print(i)

4
{'_id': ObjectId('61d7bcea24424d51cf7831ca'), 'age': 20.0}
{'_id': ObjectId('61d7bcea24424d51cf7831cb'), 'name': 'Betty', 'age': 20.0}
{'_id': ObjectId('61d7bcea24424d51cf7831cc'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs']}
{'_id': ObjectId('61d7bcea24424d51cf7831cd'), 'name': 'David', 'age': 23.0}

In [24]:
data = {"author":"Mike","text":"my first blog post!","tag":["mongdb","python"]}

collect.insert_one(data)

In [25]:
for i in collect.find():
    print(i)

{'_id': ObjectId('61d7bcea24424d51cf7831ca'), 'age': 20.0}
{'_id': ObjectId('61d7bcea24424d51cf7831cb'), 'name': 'Betty', 'age': 20.0}
{'_id': ObjectId('61d7bcea24424d51cf7831cc'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs']}
{'_id': ObjectId('61d7bcea24424d51cf7831cd'), 'name': 'David', 'age': 23.0}
{'_id': ObjectId('61db9f1f05bddf452d0da6cf'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongdb', 'python']}

In [28]:
data = {"author":"Mike","text":"my first blog post!","tag":["mongdb","python"]}
post_id = collect.insert_one(data).inserted_id

In [30]:
print(post_id)

for i in collect.find():
    print(i)
    
conn.close()

61db9f2905bddf452d0da6d0
{'_id': ObjectId('61d7bcea24424d51cf7831ca'), 'age': 20.0}
{'_id': ObjectId('61d7bcea24424d51cf7831cb'), 'name': 'Betty', 'age': 20.0}
{'_id': ObjectId('61d7bcea24424d51cf7831cc'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs']}
{'_id': ObjectId('61d7bcea24424d51cf7831cd'), 'name': 'David', 'age': 23.0}
{'_id': ObjectId('61db9f1f05bddf452d0da6cf'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongdb', 'python']}
{'_id': ObjectId('61db9f2905bddf452d0da6d0'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongdb', 'python']}

In [31]:
conn = MongoClient("127.0.0.1",27017)
dbname = conn.test
collect = dbname.people

In [32]:
datas = []
for i in range(10):
    data = {"number":i}
    datas.append(data)
    
print(datas)

[{'number': 0}, {'number': 1}, {'number': 2}, {'number': 3}, {'number': 4}, {'number': 5}, {'number': 6}, {'number': 7}, {'number': 8}, {'number': 9}]

In [33]:
# collect.insert_many(datas)

collect.insert_many([{"number":i}for i in range(10)])

In [35]:
for i in collect.find():
    print(i)
    
conn.close()

{'_id': ObjectId('61d7bcea24424d51cf7831ca'), 'age': 20.0}
{'_id': ObjectId('61d7bcea24424d51cf7831cb'), 'name': 'Betty', 'age': 20.0}
{'_id': ObjectId('61d7bcea24424d51cf7831cc'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs']}
{'_id': ObjectId('61d7bcea24424d51cf7831cd'), 'name': 'David', 'age': 23.0}
{'_id': ObjectId('61db9f1f05bddf452d0da6cf'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongdb', 'python']}
{'_id': ObjectId('61db9f2905bddf452d0da6d0'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongdb', 'python']}
{'_id': ObjectId('61dba0fc05bddf452d0da6d2'), 'number': 0}
{'_id': ObjectId('61dba0fc05bddf452d0da6d3'), 'number': 1}
{'_id': ObjectId('61dba0fc05bddf452d0da6d4'), 'number': 2}
{'_id': ObjectId('61dba0fc05bddf452d0da6d5'), 'number': 3}
{'_id': ObjectId('61dba0fc05bddf452d0da6d6'), 'number': 4}
{'_id': ObjectId('61dba0fc05bddf452d0da6d7'), 'number': 5}
{'_id': ObjectId('61dba0fc05bddf452d0da6d8'), 'number': 6}
{'_id': ObjectId('61dba0fc05bddf452d0da6d9'), 'number': 7}
{'_id': ObjectId('61dba0fc05bddf452d0da6da'), 'number': 8}
{'_id': ObjectId('61dba0fc05bddf452d0da6db'), 'number': 9}

In [36]:
conn = MongoClient("127.0.0.1",27017)

dbname = conn.test


collect =dbname.pepole

print(collect)

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'pepole')

In [37]:
for i in collect.find():
    print(i)

In [47]:
#### 나이가 20살인 document 조회

for i in collect.find({"age":20}):
    print(i)

In [45]:
##### 나이가 19세 이상인 document


for i in collect.find({"age":{"$gte":19}}):
    print(i)

In [49]:
print(collect.find_one())
print(collect.find_one({"age":{"$gte":19}}))

None
None

### 4)  수정

In [50]:
conn = MongoClient("127.0.0.1",27017)

dbname = conn.test

collect =dbname.pepole

In [51]:
print(collect.find_one({"author":"Tom"}))

None

In [52]:
collect.update_one({"author":"Tom"},{"$set":{"text": "my second blog post!"}})

In [53]:
print(collect.find_one({"author":"Tom"}))

None