In [15]:
#### 문자열 함수 str1 = 문자함수

# count()

str1 = "홍기동, 홍경래, 홍장군, 임경업, 신돌석"

print(len(str1)) # 문자 길이를 구하시오 len
print(str1.count("홍")) # 홍의 갯수를 구하시오
print("---------------------------------------------------")

# join()
str1 = "abcdefg" 
print("김정호".join(str1)) #문자 사이에 join하여 .를 넣으시오

print("---------------------------------------------------")

# split() :가 사라짐 여기서

str1 = "홍길동:홍경래:홍장군:임경업:신돌석"
print(str1.split(":"))

print("---------------------------------------------------")

# find(), index()
print(str1.find("홍") , str1.find("돌"), str1.find("권"))            # 여기서 find 는 글자가없다고 오류가 뜨진 않지만    
                                                                          #index는 오류가 뜨게 된다.
print(str1.index("길"), str1.index("돌")), #str1.index(("권"))

print("---------------------------------------------------")

# lstrip() , rstrip() , strip()

str1 = "                권유정"                        # lstrip 은 왼쪽을 없애준다! L
print(str1)
print(str1.lstrip())                                   # strip 는 둘다.

str1 = "권유정 이랑 하고싶다.,"                        # retrip는 오른쪽을 없애준다 ! R
print(str1.rstrip(".,"))

# replace(), [maketrans(), translate()]
str1 ="사랑해, World!"
print(str1.replace("World","유정"))                   # str 문자열을 replace로 다른 단어로 대체해준다.

str1 = "3억2천2백5십만원"
print(str1.replace("3억2천2백5십만원","권유정 보고싶다.")) #  단어 전체를 바꾸는것. replace

print(str1.translate(str1.maketrans("123456789","일이삼사오육칠팔구"))) # 문자열을 한꺼번에 치환하는방법 1-일 2-이 3-삼

#트렌스레이트 메이크트랜스

23
3
---------------------------------------------------
a김정호b김정호c김정호d김정호e김정호f김정호g
---------------------------------------------------
['홍길동', '홍경래', '홍장군', '임경업', '신돌석']
---------------------------------------------------
0 17 -1
1 17
---------------------------------------------------
                권유정
권유정
권유정 이랑 하고싶다
사랑해, 유정!
권유정 보고싶다.
삼억이천이백오십만원

In [54]:
    #### 문자열 포맷팅 : % , format()

    ## %를 이용하는 방법
    print("현재 온도는 18도입니다.")
    print("현재 온도는 %d도입니다. 그리고 오늘의 날씨는 %s입니다." %(69,"유정"))
    
    #d 숫자 , s 스펠링 
    
    # 나눗셈의 결과 : 3 / 5 = 0.6 입니다.
    print("%s의 결과 : %d %c %d = %0.9f 입니다."%("유정님",6,"/" ,9 ,(6/9)))
    
    # c특수문자 
    # %0.2 소수점 몇째자리까지 알려줘야하는지?
    
    
    print("\n------------------------------------\n")
    
    ### format() 를 사용 하는 방법
    print("나눗셈의 결과 : 3/5 = 0.6입니다.")
    
    # {} 묶어주기 format

    print("{}의 결과 : {} {} {} ={} 입니다. ".format("나눗셈",3,"/",5,(3/5)))
    
    # {순서1},{순서2},{순서3},{순서4}...
    
    print("{3}의 결과 : {0} {1} {2} ={4} 입니다. ".format(3,"/", 5,"나눗셈",(3/5)))
    
    
    # num 숫자 title 제목 op 특수문자 기호 result 결과
    
    print("{title}의 결과 : {num1} {op} {num2} = {result} 입니다."
          .format(num1=3, op="/", num2=5, title="나눗셈", result=(3/5)))
    
    # 
    
    
    print("{3:*>10}의 결과 : {0} {1} {2} ={4:0.2f} 입니다. ".format(3,"/", 5,"나눗셈",(3/5)))

현재 온도는 18도입니다.
현재 온도는 69도입니다. 그리고 오늘의 날씨는 유정입니다.
유정님의 결과 : 6 / 9 = 0.666666667 입니다.

------------------------------------

나눗셈의 결과 : 3/5 = 0.6입니다.
나눗셈의 결과 : 3 / 5 =0.6 입니다.
나눗셈의 결과 : 3 / 5 =0.6 입니다.
나눗셈의 결과 : 3 / 5 = 0.6 입니다.
*******나눗셈의 결과 : 3 / 5 =0.60 입니다.

In [27]:
a = True 
print(a)
print(type(a))

print("-----------------------------------------")

print(bool(10),bool(-2),bool(3.143433432),bool(0))
print(bool("가"),bool("가나다"),bool(' '),bool(''),bool(None))
a = None
print(bool(a))

True
<class 'bool'>
-----------------------------------------
True True True False
True True True False False
False

#### (3) list

+ [ ] 사용
+ 임의의 객체를 순차적으로 저장하는 집합적 자료형(Sequence Data)
+ 인덱스 사용
+ mutable

순차적으로 사용했다는 말은 인덱스를 사용했다는 말과 같다.

In [59]:
#a = 10
#b = 11
#c = 12 

a, b, c = 10, 11, 12 # 이건 정수이다. 타입체크 해봤을때 tpye

d = [10, 11, 12] # 이건 list고 타입체크해봤을때 type

print(type(a) , type(d))
print(a)
print(b)
print(c)
print(d)

print(d[0]) #정수
print(d[1]) #정수
print(d[2]) #정수


print(type(d[0]))

e = ["james", 178, 3.14, True]

print(e[1],e[0])

print(type(e[0])) #문자
print(type(e[1])) #숫자
print(type(e[2])) #실수
print(type(e[3])) #논리

<class 'int'> <class 'list'>
10
11
12
[10, 11, 12]
10
11
12
<class 'int'>
178 james
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [65]:
#### Indexing

a = [1,2,3,"가",3.14,['a','b','c']]

print(a)
print(type(a)) #리스트

print(a[1])
print(type(a[1]))
print(a[5])
print(type(a[5]))
print(a[5][1])
print(type(a[5][1]))
print(a[-1])
print(type(a[-1]))
print(a[-1][-2])

[1, 2, 3, '가', 3.14, ['a', 'b', 'c']]
<class 'list'>
2
<class 'int'>
['a', 'b', 'c']
<class 'list'>
b
<class 'str'>
['a', 'b', 'c']
<class 'list'>
b

In [70]:
#### 복사 (얕은 복사, 깊은 복사)

a = [1,2,3,4,5]

b = a

b[0] = 10

print(b)
print(a)

print("---------------------------------")

a= [1, 2, 3, 4, 5]

# b = a[0:5] 부분 바꿈 이게 깊은복사.

b = a[0:5] # -1 해줘야함.

b[0] = 10

print(b)
print(a)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
---------------------------------
[10, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [116]:
##### list의 생성

a = []

a = list()

print(type(a))

<class 'list'>

In [72]:
##### 각 자료형 함수 (참고)

## bool 참거짓

a = '10'
print(int(a),type(int(a)))
print(str(a),type(str(a)))
print(float(a),type(float(a)))
print(bool(a), type(bool(a)))

b = 'abc010'

print(list(b), type(list(b))) ## 하나하나 나눌려면 단지 괄호하나
print(list([b]), type(list([b]))) ## 묶을려면 가로 2개

10 <class 'int'>
10 <class 'str'>
10.0 <class 'float'>
True <class 'bool'>
['a', 'b', 'c', '0', '1', '0'] <class 'list'>
['abc010'] <class 'list'>

In [89]:
#### list 초기화 계산은 되지않는다.

a = [1,2,3]
print(a)
print(type(a))

b = list([1,2,3])
print(b)
print(type(b))

c = list(range(0, 10, 1))
print(c)

d = list(range(-4,12,1))
print(d)

e = list(range(10,0, -1))
print(e)

[1, 2, 3]
<class 'list'>
[1, 2, 3]
<class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [90]:
#### 연산가능  

##[()] 하면 문자로 전화되어짐

a = [1,2,3]
b = [5,6,7,8]

print(type(a[0])) #숫자

print(a+b)
print(a*3)
print (a[0]+b[0])
print(str(a[1])+"hi~~")
print(a[1],"hi~~")

#### 숫자와+문자 결합 4번째꺼

<class 'int'>
[1, 2, 3, 5, 6, 7, 8]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
6
2hi~~
2 hi~~

In [96]:
#### 추가하기 : insert(), append() , extend()

a = [1,2,3]
print(a)

#원하는 위치에 지정함수
a.insert(0,100)
print(a)

#무조건 맨 끝에 추가하는 함수
a.append(4)
print(a)

#기존에 있는 append 를 확장한 느낌의 함수 , 반드시 list로 추가해야한다
a.extend([5])
print(a)

a.append([6,7,8]) # append 는 괄호 있이 리스트에 들어감
print(a)

a.extend([9,10,11,12]) # extend 는 괄호 없이 리스트에 들어감.
print(a)

[1, 2, 3]
[100, 1, 2, 3]
[100, 1, 2, 3, 4]
[100, 1, 2, 3, 4, 5]
[100, 1, 2, 3, 4, 5, [6, 7, 8]]
[100, 1, 2, 3, 4, 5, [6, 7, 8], 9, 10, 11, 12]

In [193]:
#### 정렬 


#원본 자체가 바뀜

a = [1, 3, 4, 2]

a.sort()
print(a) #원본자체가 바뀐다.


##원본은 그대로 있고 복사값이 바뀜


a = [1, 4, 3, 2]
print(sorted(a)) #복사값
print(a) #원본값


a = sorted(a) # 이걸 해주면 복사본이 원본이된다.
print(a)

a.reverse()
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [112]:
##### 제거

# 범위를 지정해서 제거 a[0:3] = 

a = [1, 2, 3, 1, 2, 3]

a[0:3] = []
print(a)

# 값을 찾아서 삭제하는 방법

a = [1, 2, 3, 1, 2, 3]


#순서대로 검색하다가 첫번째 지정된 값을 삭제함

a.remove(3)
print(a)


# 위치를 찾아서 삭제

b= [1,2,3,4,5]

del b[4]
print(b)

#전체 데이터 삭제

a= [1,2,3,1,2,3]
a[:]=[]
print(a)


print("\n-------------------------------\n")

# stack


a= [1,2,3]        #3 - 2 - 1 순서대로 빼옴
b= a.pop()
print(b)
print(a)          # a입장에서는 b에서 3을 빼가서 1,2 남음

b=a.pop()
print(b)            # b는 [1,2] 가 있음으로 b에서 또하나가 빠지면 [1]이남음
print(a)

[1, 2, 3]
[1, 2, 1, 2, 3]
[1, 2, 3, 4]
[]

-------------------------------

3
[1, 2]
2
[1]

In [116]:

####### 검색

a= [1,2,3,4,5]
print(a.index(4)) #3번째 위치
print(2 in a) # 2는 있으니 참
print(6 in a) # 6은 없으니 펄스


print(type(a.index(4)))

#4가 3번째 위치에 있다는 소리이다!

3
True
False
<class 'int'>

---

### 4. tuple
리스트와의 차이점
+ () 사용 한다 []는 리스트
+ immutable
+ 패킹이 가능하다

In [125]:
a = ('a','b','c','d')



print(a)


print(type(a))

print(len(a))

print(a.count("d")) # 하나 있다는뜻
print(a.index("a")) # 0번째 위치하고있다는뜻 a가

('a', 'b', 'c', 'd')
<class 'tuple'>
4
1
0

In [124]:
# a[1] =10

b= list(a)

b[1] =10


print(type(b))
print(b)

c = tuple(b)
print(type(c))
print(c)


### tuple이랑 list랑 왔다갔다 가능 !

<class 'list'>
[1, 10, 3, 4, 5]
<class 'tuple'>
(1, 10, 3, 4, 5)

In [133]:

#### packing 과 unpacking 

a= 10,20,30

print(a)

print(type(a))

#a1=a[0]
#a2=a[1]
#a3=a[2]

b1,b2,b3=a
print(b1,b2,b3)

(10, 20, 30)
<class 'tuple'>
10 20 30

---

## (5) dict(dictionary)

+ 순서가 없다 . 즉, 다시 말해서 index가 없다
인덱스란 순서를 설명해주는것이니. 딕셔널리에 순서가 없으면
당연히 인덱스는 없는것.

+ {키:값,키:값,....}
+ 키를 이용해서 값을 조회

In [134]:
a = {"name":"김정호","tell":"5630-9493","age":"28","home":"인천"}

print(a)
print(type(a))

{'name': '김정호', 'tell': '5630-9493', 'age': '28', 'home': '인천'}
<class 'dict'>

In [135]:
print(a["name"])
print(a["age"])
print(a["tell"])
print(a["home"])

김정호
28
5630-9493
인천

In [136]:
# 핵심키 
# 핵심키에 들어있는 가치
# 전부다 보여주기



print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'tell', 'age', 'home'])
dict_values(['김정호', '5630-9493', '28', '인천'])
dict_items([('name', '김정호'), ('tell', '5630-9493'), ('age', '28'), ('home', '인천')])

In [140]:


#8가지 자료형 
#int
#str
#float
#bool

#list
#tuple
#dict
#set


# dict는 자동화를 위해 list 형식으로 바꿔야할 경우가 존재한다

b= a.items()
print(type(b))

c = list(a)
print(c)
print(type(c))

c = list(a.items())
print(c)
print(type(c))
print(c[1],c[1][1])

# 여기서  c[1] , c[1][1] 의 의미는 딕에서 첫번째 위치에 첫번째 주소 !

<class 'dict_items'>
['name', 'tell', 'age', 'home']
<class 'list'>
[('name', '김정호'), ('tell', '5630-9493'), ('age', '28'), ('home', '인천')]
<class 'list'>
('tell', '5630-9493') 5630-9493

In [145]:
#### 수정

a["name"] = "권유정"
a["tell"] = "9635-2364"
a["age"] = "21"
a["home"] = "안산"
print(a)

{'name': '권유정', 'tell': '9635-2364', 'age': '21', 'home': '안산', 'hobby': ['여행', '드라이브']}

In [144]:
#### 추가 [] 해야함 

a["hobby"] = ["여행","드라이브"]
print(a)

{'name': '권유정', 'tell': '9635-2364', 'age': '28', 'home': '인천', 'hobby': ['여행', '드라이브']}

In [146]:
#### 삭제 - 삭제는 한번만 실행해야함

del a["tell"]
print(a)

{'name': '권유정', 'age': '21', 'home': '안산', 'hobby': ['여행', '드라이브']}

In [147]:
####전체삭제

a.clear()
print(a)

{}

In [155]:
#### 데이터 가져오기

a = {"name":"김정호","tell":"5630-9493","age":"28","home":"인천"}

print(a["name"])
print(a["tell"])
print(a["age"])
print(a["home"])

print(a.get("name"))
print(a.get("hobby","여행"))
print(a.get("home","인천"))
print(a)

김정호
5630-9493
28
인천
김정호
여행
인천
{'name': '김정호', 'tell': '5630-9493', 'age': '28', 'home': '인천'}

---

### (6) set

+ {} 사용

+ 순서가 없다.(인덱스 사용불가)

+ 중복 불가

In [159]:
a={1,2,3,4,2,4}

print(a)
print(type(a))


e = {"권유정","김정호","권유정"}

print(e)
print(type(e))

{1, 2, 3, 4}
<class 'set'>
{'권유정', '김정호'}
<class 'set'>

In [162]:
#print(a[0])  할려면 변환 작업을 list로 거쳐야함

b=list(a)
print(b[2])

3

In [160]:
##### 연산

s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

#합집합
print(s1.union(s2))

#교집합
print(s1.intersection(s2))

#차집합
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{8, 9, 7}

In [163]:
#### GRUD

#여러 개 추가

s1.update({7,8})
print(s1)

# 한개 추가
s1.add(11)
print(s1)

##삭제

s1.remove(2)
print(s1)

s1.discard(8)
print(s1)

# 두개의 차이점

# remove는 없는걸 삭제할려고 할때 에러가 뜬다.
# discard는 없는걸 삭제하려고 할때 스킵 에러가 뜨진 않는다.

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 11}
{1, 3, 4, 5, 6, 7, 8, 11}
{1, 3, 4, 5, 6, 7, 11}

In [170]:
######## 중복된 데이터를 제거 하고 재구성

#set {} 은 중복이 불가능하다

a = {1,1,2,2,3,3,4,4,5,5,6}

print(a)

b= list(a)

print(a)
print(b)
print(type(b))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [175]:
##중복을 제거하고 list 로 뽑아내기 2단계 절차를 거쳐야함.

a = [1,2,3,4,4,5,2]

b= set(a)
print(b)

c= list(b)
print(c)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

## 1. 변수(Variable) 의 정의

## 2. 변수의 특징
- 묵시적 선언
- 동적 바인딩
- immutable
- 수정 가능한 분류
   - list,dict,set
   - 나머지 5개는 다 불가능

---

## 4. Operator [우선순위가 제일중요]

1) 산술 연산자
     * / + - %(나머지) //(몫) **(거듭제곱)

2) 비교 연산자 
      > < >= <= == !=

3) 논리 연산자

        and or not(단항 연산자, toggle 연산자) -> 전등 스위치 하나로 두개의 기능을 수행하는걸 말함 !
        
        
        
        x y           X AND Y          XorY    not x     x^y
        ---------------------------------------------------------
        T T              T              T        F        F
        T F              F              T        F        T
        F T              F              T        T        T
        F F              F              F        T        F

4) 대입 연산자

= += -= /= *= ...

5) 포함 여부 연산자

    in    not in 
    
6) 비트 연산자 

   &(and)       l (or)     ^(xor) -> 암호화 하거나 복호화할때 탁월

In [180]:
### 대입 연산자 마지막값만 저장됌! 나머지는 garbage

a = 1
a = 3 
a = 5

print(a)

# 누적의 특성을 가지고있다.b=b+3 이런느낌. b=b+5

b = 1 
b += 5
b += 9
b +=13

print(b)

5
28

In [187]:
#### 비트 연산자

a = 7
b = 3

result = a>3 and b<5 # 하나만 거짓이여도 거짓

print(result)

result = a>3 & b<5 # 비트 연산자
print(result)

result = a & b    # 111
print(result)     # 011
                  # 011

True
True
3

In [191]:
data = 293411
key = 949311

encode = data ^ key
print("암호화 : ", encode)

print("\n---------------------\n")

decode = encode ^ key
print ("복호화: ", decode)

암호화 :  656924

---------------------

복호화:  293411